<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>İhtiyacımVar.com</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/Content/css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Content/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script src="//rawgit.com/notifyjs/notifyjs/master/dist/notify.js"></script>
    <script src="//jpillora.com/compilejs/dist/compile.js"></script>
    <script src="js/vendor/jquery.knob.js"></script>
    <script src="js/vendor/prettify.js"></script>
    <script src="js/app.js"></script>
    <script>
        //async fonts
        WebFontConfig = { google: { families: ['Droid+Sans+Mono::latin'] } };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
        //ga
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-38709761-6', 'notifyjs.com');
        ga('send', 'pageview');
    </script>
    <style>
        #loading {
            width: 100px;
            height: 100px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -50px;
            margin-top: -50px;
        }
    </style>
</head>

<body>
    <div class="row">
        <div class="col-md-4 col-md-offset-4" id="loading" style="display: none;">
            <img src="~/Content/loading.gif" />
        </div>
    </div>
    <div class="notifyjs-corner" style="top: 100px; right: 0px;">
        <div class="notifyjs-wrapper notifyjs-hidable">
            <div class="notifyjs-arrow" style=""></div>
            <div class="notifyjs-container">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4" id="giris" style="display: block;">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Giriş</h3>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        <input class="form-control" placeholder="Email Adresiniz" id="mail" name="mail" autofocus>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Şifreniz" id="sifre" name="sifre" type="password">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input name="remember" type="checkbox" value="Beni Hatırla">Beni Hatırla
                        </label>
                    </div>
                    <ul class="nav nav-second-level">
                        <button type="button" id="btnlogin" onclick="Login();" class="btn btn-lg btn-success btn-block">Giriş Yap</button>
                        <a href=@Url.Action("Kaydol", "Home") class="btn btn-lg btn-success btn-block">Kaydol</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- jQuery -->
    <script src="~/Content/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Content/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Content/js/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Content/js/sb-admin-2.js"></script>

    <script src="~/Content/js/notify.js"></script>

    <script src="~/Content/js/notify.min.js"></script>

    <script type="text/javascript">
        //function sleep(milliseconds) {
            
        //    var start = new Date().getTime();
        //    for (var i = 0; i < 1e7; i++) {
        //        if ((new Date().getTime() - start) > milliseconds) {
        //            break;
        //        }
        //    }
        //}
        function Login() {
            document.getElementById('giris').style.display = 'none';
            document.getElementById('loading').style.display = 'block';
            var uye = {
                id: 0,
                adi: "",
                soyadi: "",
                mail: $("#mail").val(),
                sifre: $("#sifre").val(),
                Tc: "",
                status: 0
            }
            
            $.getJSON("Home/Control", uye, function (data) {

                $suc = false;
                $i = 0;
                $.each(data, function (key, val) {
                    if (key == "success") {
                        $suc = val;
                    }
                    else if (key == "message" && $suc == false) {
                        $.notify(val, "warn");
                        document.getElementById('giris').style.display = 'block';
                        document.getElementById('loading').style.display = 'none';
                    }
                    else {// Yönlendirme İşlemi

                        //$.notify(val, "success");
                        //setTimeout(explode, 2000);
                        $(location).prop('href', 'http://localhost:4684/Home/Home')
                    }
                });
            });
        }
    </script>
</body>

</html>
