@{
    ViewBag.Title = "Engelli";
    Layout = "~/Views/Admin/Index.cshtml";
}
<style>
    #container {
        width: 5000px;
        height: 5000px;
        position: absolute;
        left: 30%;
        top: 50%;
        margin-top: -50px;
    }
</style>
<div id="container">
    <p>
        <font face="tahoma" size="50" color="maroon">
	<b>Bu sayfaya erişim yetkiniz yoktur..</b></font>
    </p>
</div>
