@{
    ViewBag.Title = "Ilan_Ver";
    Layout = "~/Views/Admin/Index.cshtml";
}
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/fileinput.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="themes/explorer/theme.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="~/Content/js/plugins/sortable.js" type="text/javascript"></script>
    <script src="~/Content/js/fileinput.js" type="text/javascript"></script>
    <script src="~/Content/js/locales/fr.js" type="text/javascript"></script>
    <script src="~/Content/js/locales/es.js" type="text/javascript"></script>
    <script src="themes/explorer/theme.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    function Ozellik_List() {
        var Id = $("#dtlParent").val();
        var html = "";
        try{
            var CatID = {
                CatID: Id
            };
            $.getJSON("/Admin/Ozellik_List", CatID, function (data) {
                $suc = false;
                //alert(data.objectList.length);
                for (var i = 0 ; i < data.objectList.length; i++) {
                    html += "<option value=" + data.objectList[i].id + ">" + data.objectList[i].name + "</option>";
                }
                //alert(html);
                $("#ozelliklist").html(html);
            });
        }
        catch (ex)
        {
            alert(ex);
        }
       
    }
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">İlan İşlemleri</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Ürün Bilgileri
                                </div>
                                <div class="panel-body panel-default">
                                    <label>Ürün Adı:</label>
                                    <input class="form-control">
                                    <label>Açıklama:</label>
                                    <textarea class="form-control" rows="3"></textarea>
                                    <label>İlan Tarihi:</label>
                                    <input class="form-control">
                                    <div class="form-group">
                                        <label>Üst Kategori Seçiniz</label>
                                        <select class="form-control" id="dtlParent" name="dtlParent" onchange="Ozellik_List();">
                                            @using (var context = new MvcProjem.Models.VeriTabanı())
                                            {
                                                var query = from a in context.kategoriler select a;
                                                foreach (var item in query)
                                                {
                                                <option value="@item.id">@item.kategoriadi</option>
                                                }
                                            }

                                        </select>
                                    </div>
                                    <label>Ürün Değeri:</label>
                                    <input class="form-control">
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Ürün Özellikleri
                                </div>
                                <div class="panel-body panel-default">

                                    <select class="form-control" id="ozelliklist" name="ozelliklist">
                                            <option></option>
                                        
                                    </select>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="font-size: medium">
                                        Ürün Resimleri
                                    </div>
                                    <div class="panel-body panel-default">

                                        <div class="form-group">
                                            <form enctype="multipart/form-data">
                                                <div class="form-group" style="font-size: medium">
                                                    <input id="file-4" type="file" class="file">
                                                </div>
                                                <hr>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </h1>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-default">İlan Ver</button>
            </div>
        </div>
        <!-- /.panel -->


    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.container-fluid -->

 <script src="~/Content/js/notify.js"></script>

    <script src="~/Content/js/notify.min.js"></script>
