@{
    ViewBag.Title = "Ozellik";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid">
    <div class="row">
         <div class="col-lg-12">

         </div>

    </div>
    <div class="row">
        <div class="col-lg-4"> 

        </div>
        <div class="col-lg-4">
             <div class="panel panel-primary">
                  <div class="panel-heading">

                  </div>
                 <div class="panel-body">
                      <div class="form-group">
                          <label>Kategori Seçiniz</label>
                           <select class="form-control">
                               <option>1</option>
                                 <option>2</option>
                                 <option>3</option>
                                 <option>4</option>
                                 <option>5</option>

                           </select>

                      </div>
                     <label>Özellik:</label>
                     <input class="form-control">
                     <label>Nesnesi</label>
                     <select class="form-control">
                         <option>Metin Kutusu</option>
                            <option>Evet/Hayır</option>

                     </select>
                     <button type="button" class="btn btn-primary">Özellik Ekle</button>

                 </div>
                 <div class="panel-footer">
                     <button type="button"  class="btn btn-primary">Kaydet</button>

                 </div>

             </div>

        </div>
        <div class="col-lg-4">

        </div>

    </div>

</div>

